#addGlyphFeature {
  .header {
    text-align: center;
    padding: 15px;
    h4 {
      font-size: 1.1em;
      color: $highlight;
    }
  }

  .row {
    padding: 5px;

    .infoRow {
      font-size: 0.8em;
      color: $foregroundAlt;
    }

  }

  .featureList {
    font-size: 0.85em;

    .delete {
      color: $highlight;
    }
  }

  #addFeature {



    label {
      font-size: 0.9em;
      // color: $foregroundAlt;
    }

    textarea {
      width: 100%;
    }

    input[type="checkbox"] {
      margin-left: 10px;
      //margin-right: 5px;
      width: 20px;
    }

    .cblabel {
      font-size: 1.0em;
    }

    input[type="button"], input[type="submit"], input[type="text"], textarea, input[type="password"] {
      width: 95%;
      background-color: $backgroundAlt;
    }
  }

}