#chalicesByArea {

  .areaName {
    text-align: center;
    h2 {
      padding-top: 10px;
      color: $highlight;
      font-size: 1.2em;
      margin-bottom: 5px;
    }

    h5 {
      font-size: 0.5em;
      margin-bottom: 20px;
    }
  }

  .row:nth-child(even) {
    background-color: $backgroundAlt;
  }

}