#chaliceDetail {
  min-height: 500;
  color: $foreground;

  .highlight {
    color: $foregroundAlt;
  }

  .materials {
    margin-top: 20px;
  }

  .chaliceName {
    text-align: center;
    h2 {
      padding-top: 10px;
      color: $highlight;
      font-size: 1.2em;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 1.0em;
      margin-bottom: 15px;
    }
  }

  .glyphLink {
    text-align: center;
    margin-top: 20px;
    color: $highlight;
  }

}