
$rgba-primary-0: rgba( 90, 78,119,1);	// Main Primary color */
$foreground: rgba(155,148,172,1);
$foregroundAlt: rgba(118,108,142,1);
$backgroundAlt: rgba( 67, 55, 95,1);
$background: rgba( 47, 33, 78,1);

$rgba-complement-0: rgba(173,164,107,1);	// Main Complement color */
$highlight: rgba(251,245,212,1);
$highlightAlt: rgba(208,200,152,1);
$rgba-complement-3: rgba(138,129, 74,1);
$error: rgba(114,104, 41,1);