#glyphDetail {
  min-height: 500px;
  color: $foreground;

  .glyphName {
    text-align: center;
    padding-top: 20px;
  }


  .center {
    text-align: center;
    padding-top: 10px;
  }

  .info {
    font-size: .75em;
  }

  .rites {
    color: $foregroundAlt;
  }

  .notes {
    font-size: 0.85em;
    padding: 10px;
  }

  .back {
    text-align: center;
  }

  input[type='button'] {
    background-color: $backgroundAlt;
    min-width: 150px;
    margin-top: 8px;
  }

  h2 {
    color: $highlight;
    margin-bottom: 0px;
  }

  .working {
    color: $highlightAlt;
    font-size: 0.8em;
    //margin-left: 5px;
  }

  .features {
    padding-left: 10px;

    .featureName {
      color: $foregroundAlt;
      font-size: 0.85em;
    }

    .feature {
      font-size: 0.85em;
      padding-bottom: 5px;
    }

    .featureDesc {
      border: solid 1px $backgroundAlt;
      font-size: 0.85em;
    }


  }


}