#glyphsByBoss {
  .searchHeader {
    padding: 15px;
    h4 {
      font-size: 0.9em;
    }
  }

  .row {
    padding: 5px;
  }

  #search {
    input[type="button"], input[type="submit"] {
      width: 100%;
      background-color: $backgroundAlt;
    }
  }

}
