#glyphsByChalice {

  .searchHeader {
    text-align: center;
    padding: 15px;
    h4 {
      font-size: 0.9em;
    }
  }

  .areaName {
    font-size: 1.1em;
    color: $highlight;
    padding: 10px;
  }

  .row {
    padding: 5px;
  }

  .row:nth-child(even) {
    background-color: $backgroundAlt;
  }

}