#myGlyphs {

  input[type="button"], input[type="text"] {
    width: 95%;
    background-color: $backgroundAlt;
  }

  input[type="submit"] {
    margin-top: 10px;
    width: 60%;
    background-color: $backgroundAlt;
  }

  .center {
    text-align: center;
  }
}