#recent {

    font-size: 0.9em;

  .title {
    margin-top: 40px;
    text-align: center;
    font-size: 1.2em;
    color: $foreground;
    background-color: $backgroundAlt;
    padding: 10px;
    margin-bottom: 10px;
  }

  .outer {
    margin-top: 10px;
    margin-bottom: 10px;

    &:nth-child(odd) {
      background-color: $backgroundAlt;
    }
  }

  .inner {
    padding: 10px;

  }

  .center {
    text-align: center;
  }
}