#searchResults {
  .searchHeader {
    text-align: center;
    margin-bottom: 15px;
    h2 {
      color: $highlight;

    }
  }

  #results {

    .noResults {
      text-align: center;
      color: $highlight;
      padding-top: 15px;
      input[type='button'] {
        background-color: $backgroundAlt;
        color: $foreground;
      }
    }

    .working {
      color: $highlightAlt;
      margin-left: 5px;
    }
    .glyphName {
      color: $highlight;
    }

    .submitterName {
      color: $foregroundAlt;
    }

    .infoRow {
      font-size: 0.8em;
    }

    .row {

      &.resultRow {
        font-size: 0.9em;
      }

      &.resultRow:nth-child(even) {
        background-color: $backgroundAlt;
      }
    }
  }

}