@import 'customvars'
  ,'../bower_components/foundation/scss/foundation.scss'
  ,'fonts'
  ,'recent'
  ,'glyphDetail'
  ,'chaliceDetail'
  ,'chalicesByArea'
  ,'searchResults'
  ,'glyphsByFeature'
  ,'glyphsByBoss'
  ,'glyphsByChalice'
  ,'addNewGlyph'
  ,'addGlyphFeature'
  ,'addGlyphBoss'
  ,'myGlyphs';

body {
  background-color: $background;
  color: $foreground;
  font-family: Volkhov, serif;
}

select {
  background-color: $backgroundAlt;
  color: $foregroundAlt;
  outline: none;
}

#content {
  min-height: 500px;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Volkhov, serif;
}

ul.off-canvas-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size:0.885em;
}

.highlight {
  color: $highlight;
  &:hover {
    text-decoration: overline;
  }
}