<div ng-controller="RecentController as rc" id="recent" class="row">
    <div class="row title">
        <div class="column small-12">Recent Glyphs (tap to view)</div>
    </div>
    <div class="outer" ng-repeat="glyph in rc.recent" ng-click="rc.viewGlyph( glyph.GlyphId )">
        <div class="row">
            <div class="column small-4 center highlight">{{ glyph.Glyph }}</div>
            <div class="column small-8 center">{{ glyph.ChaliceName }}</div>
        </div>
        <div class="row inner">
            <div class="column small-4">{{ glyph.DateAdded | date:'yyyy-MM-dd' }}</div>
            <div class="column small-8 center">{{ glyph.SubmitterName }}</div>
        </div>
    </div>
    <!--
    <table class="large-8 small-12 columns">
        <tr>
            <th colspan="4">Recent Glyphs (tap to view)</th>
        </tr>
        <tr>
            <th>Glyph</th>
            <th>Chalice</th>
            <th>Added On</th>
            <th>Submitter</th>
        </tr>
        <tr ng-repeat="glyph in rc.recent" ng-click="rc.viewGlyph( glyph.GlyphId );">
            <td class="highlight">{{ glyph.Glyph }}</td>
            <td>{{ glyph.ChaliceName }}</td>
            <td>{{ glyph.DateAdded }}</td>
            <td>{{ glyph.SubmitterName }}</td>
        </tr>
    </table>
    -->
</div>