<div id="myGlyphs" ng-controller="GlyphsBySubmitterController as gbsc">
    <form name="search" id="search">
        <div class="row">
            <div class="columns small-12">
                <label>Enter Submitter Name:
                    <input type="text"
                           class="small-12"
                           required
                           ng-model="gbsc.submitterName" placeholder="<type your name>"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="column small-12 center">
                <input type="submit" ng-click="gbsc.go()" value="Show Glyphs"/>
            </div>
        </div>
    </form>
</div>