<div id="chalicesByArea" ng-controller="ChalicesByAreaController as cbac">
    <div class="row">
        <div class="column small-12 areaName">
            <h2>{{ cbac.area.areaName }} Chalices</h2>
            <h5>( tap to view details )</h5>
        </div>
    </div>
    <div class="row" ng-repeat="chalice in cbac.area.chalices">
        <div class="column small-12" ng-click="cbac.showChaliceDetail( chalice.chaliceId )">
            {{ chalice.chaliceName }} ({{ chalice.glyphCount }})
        </div>
    </div>
</div>