<div id="addGlyphBoss" ng-controller="AddGlyphBossController as agbc">
    <form id="addBoss" name="addBoss" novalidate>
        <div class="row header">
            <div class="columns small-12 highlight">
                {{ agbc.glyph.glyph }}
            </div>
        </div>
        <div class="row header">
            <div class="columns small-12">
                {{ agbc.glyph.chaliceName }}
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Select Boss:
                    <select ng-model="agbc.boss" required
                            ng-options="b.name for b in agbc.bossList">
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Select Layer:
                    <select ng-model="agbc.layer"
                            ng-options="l.name for l in agbc.layerList">
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Notes:
                    <textarea ng-model="agbc.notes" placeholder="Hints?  Notes?  Pants?">

                    </textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Edit Password:
                    <input type="text" ng-model="agbc.editPass"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-6">
                <input type="button" ng-click="agbc.reset(addBoss)" value="Reset"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="agbc.addBoss()" value="Add Boss"/>
            </div>
        </div>
        <div class="row">
            <div class="column small-6">
                <input type="button" ng-click="agbc.goToFeatures()" value="< Features"/>
            </div>
            <div class="column small-6">&nbsp;</div>
        </div>
    </form>
    <div class="featureList">
        <div class="row" ng-repeat="lb in agbc.layerBosses">
            <div class="columns small-7">{{ lb.name }}</div>
            <div class="columns small-3">Layer {{ lb.layer }}</div>
            <div class="columns small-12">{{ lb.notes }}</div>
        </div>
    </div>
</div>