<div id="glyphsByBoss" ng-controller="GlyphsByBossController as gbbc">
    <div class="searchHeader">
        <h4>Select Up To 4 Bosses to find Glyphs which contain ALL of them.</h4>
    </div>
    <form name="search" id="search">
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbbc.boss1"
                        ng-options="b.name for b in gbbc.bossList">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbbc.boss2" ng-disabled="gbbc.boss1.value === -1"
                        ng-options="b.name for b in gbbc.bossList">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbbc.boss3" ng-disabled="(gbbc.boss1.value === -1) || (gbbc.boss2.value === -1)"
                        ng-options="b.name for b in gbbc.bossList">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbbc.boss4" ng-disabled="(gbbc.boss1 === -1) || (gbbc.boss2.value === -1) || (gbbc.boss3.value === -1)"
                        ng-options="b.name for b in gbbc.bossList">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-6">
                <input type="button" ng-click="gbbc.reset(search)" value="Reset"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="gbbc.doSearch()" value="Find Glyphs"/>
            </div>
        </div>
    </form>
</div>