<div ng-controller="GlyphDetailController as gdc" id="glyphDetail">
    <div class="glyphName">
        <h2>{{ gdc.glyph.glyph }}</h2>
        <div class="working">{{ gdc.glyph.workingPercentage | number:0 }}% likely working
        ({{ gdc.glyph.workingVotes }}/{{ gdc.glyph.nonWorkingVotes }})
        </div>
        <div class="info">Submitted by <a ng-click="gdc.viewSubmitterGlyphs(gdc.glyph.submitter)" class="rites">{{ gdc.glyph.submitter }}</a></div>
        <h3 ng-click="gdc.showChaliceDetail( gdc.glyph.chaliceId )">{{ gdc.glyph.chaliceName }}</h3>
        Rituals: <span class="rites">{{ gdc.glyph.riteString }}</span>
    </div>
    <div class="features">
        <div ng-show="gdc.glyph.special.length > 0">
            <h4>Special</h4>
            <div class="featureDesc" ng-repeat="special in gdc.glyph.special">
                <div class="row">
                    <div class="small-8 column featureName">{{ special.featureName }}</div>
                    <div class="small-4 column feature">Layer <span class="rites">{{ special.layer }}</span></div>
                </div>
                <div class="row" ng-show="special.notes">
                    <div class="small-12 column">Notes: <span class="rites">{{ special.notes }}</span></div>
                </div>
            </div>
        </div>
        <div ng-show="gdc.glyph.weapons.length > 0">
            <h4>Weapons:</h4>
            <div class="featureDesc" ng-repeat="weapon in gdc.glyph.weapons">
                <div class="row">
                    <div class="small-8 column featureName">{{ weapon.featureName }}</div>
                    <div class="small-4 column feature">Layer <span class="rites">{{ weapon.layer }}</span></div>
                </div>
                <div class="row" ng-show="weapon.notes">
                    <div class="small-12 column">Notes: <span class="rites">{{ weapon.notes }}</span></div>
                </div>
            </div>
        </div>
        <div ng-show="gdc.glyph.bosses.length > 0">
            <h4>Layer Bosses:</h4>
            <div class="featureDesc" ng-repeat="boss in gdc.glyph.bosses">
                <div class="row">
                    <div class="small-8 column featureName">{{ boss.name }}</div>
                    <div class="small-4 column feature">Layer <span class="rites">{{ boss.layer }}</div>
                </div>
                <div class="row" ng-show="boss.notes">
                    <div class="small-12 column">Notes: <span class="rites">{{ boss.notes }}</span></div>
                </div>
            </div>
        </div>
        <div ng-show="gdc.glyph.bosses.length < 1">
            <h4>No Boss Information Available.</h4>
        </div>
        <div ng-show="gdc.glyph.runes.length > 0">
            <h4>Caryll Runes:</h4>
            <div class="featureDesc" ng-repeat="rune in gdc.glyph.runes">
                <div class="row">
                    <div class="small-8 column featureName">{{ rune.featureName }}</div>
                    <div class="small-4 column feature">Layer <span class="rites">{{ rune.layer }}</div>
                </div>
                <div class="row" ng-show="rune.notes">
                    <div class="small-12 column">Notes: <span class="rites">{{ rune.notes }}</span></div>
                </div>
            </div>
        </div>
        <div ng-show="gdc.glyph.upgradeMats.length > 0">
            <h4>Upgrade Materials:</h4>
            <div class="featureDesc" ng-repeat="upgradeMat in gdc.glyph.upgradeMats">
                <div class="row">
                    <div class="small-8 column featureName">{{ upgradeMat.featureName }}</div>
                    <div class="small-4 column feature">Layer <span class="rites">{{ upgradeMat.layer }}</div>
                </div>
                <div class="row" ng-show="upgradeMat.notes">
                    <div class="small-12 column">Notes: <span class="rites">{{ upgradeMat.notes }}</span></div>
                </div>
            </div>
        </div>
        <div ng-show="gdc.glyph.ritualMats.length > 0">
            <h4>Ritual Materials:</h4>
            <div class="featureDesc" ng-repeat="ritualMat in gdc.glyph.ritualMats">
                <div class="row">
                    <div class="small-8 column featureName">{{ ritualMat.featureName }}</div>
                    <div class="small-4 column feature">Layer <span class="rites">{{ ritualMat.layer }}</div>
                </div>
                <div class="row" ng-show="ritualMat.notes">
                    <div class="small-12 column">Notes: <span class="rites">{{ ritualMat.notes }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 notes">Notes:  <span class="rites">{{ gdc.glyph.notes }}</span></div>
    </div>
    <div class="row" ng-hide="gdc.voted">
        <div class="column small-6">
            <input type="button" ng-click="gdc.verify(1)" value="Verify Working"/>
        </div>
        <div class="column small-6">
            <input type="button" ng-click="gdc.verify(0)" value="Not Working"/>
        </div>
    </div>
    <div class="row">
        <div class="column small-6">
            <input type="button" ng-click="gdc.back()" value="Back"/>
        </div>
        <div class="column small-6">
            <input type="button" ng-click="gdc.edit()" value="Edit"/>
        </div>
    </div>
</div>