<div id="searchResults" ng-controller="GlyphSearchResultsController as src">
    <div class="searchHeader">
        <h2>{{ src.searchString }}</h2>
        <h3 ng-show="src.searchString === 'Glyphs By Chalice'" ng-click="src.showChaliceDetail(src.chaliceId)">{{ src.chaliceName }}</h3>
    </div>
    <div id="results">
        <div class="row noResults" ng-show="src.searchResults.length < 1">
            <div class="column small-12">No matching glyphs found!</div>
        </div>
        <div class="row noResults" ng-show="src.searchResults.length < 1">
            <div class="column small-12 back"><input type="button" ng-click="src.backToSearch()" value="Back to Search"></div>
        </div>
        <div class="row resultRow" ng-repeat="glyph in src.searchResults" ng-click="src.viewGlyph(glyph.glyphId)">
            <div class="column small-12">
                <div class="row">
                    <div class="column small-6 glyphName">{{ glyph.glyph }}
                        <span class="working">({{ glyph.workingPercentage | number:0 }}%)</span>
                    </div>
                    <div class="column small-6 submitterName">{{ glyph.dateAdded | date:'yyyy.MM.dd' }}</div>
                </div>
                <div class="row">
                    <div class="column small-12">{{ glyph.chaliceName }}</div>
                </div>
                <div class="row infoRow">
                    <div class="column small-6">Weapons: {{ glyph.weaponCount }}</div>
                    <div class="column small-6">Runes: {{ glyph.runeCount }}</div>
                </div>
                <div class="row infoRow">
                    <div class="column small-6">Upgrade Materials: {{ glyph.upgradeCount }}</div>
                    <div class="column small-6">Ritual Materials: {{ glyph.materialCount }}</div>
                </div>
            </div>
        </div>
    </div>
</div>