<div id="addGlyphFeature" ng-controller="AddGlyphFeatureController as agfc">
    <form id="addFeature" name="addFeature" novalidate>
        <div class="row header">
            <div class="columns small-12 highlight">
                {{ agfc.glyph.glyph }}
            </div>
        </div>
        <div class="row header">
            <div class="columns small-12">
                {{ agfc.glyph.chaliceName }}
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Select Feature:
                    <select ng-model="agfc.feature" required
                            ng-options="f.name group by f.group for f in agfc.featureList">
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Select Layer:
                    <select ng-model="agfc.layer"
                            ng-options="l.name for l in agfc.layerList">
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Notes:
                    <textarea ng-model="agfc.notes" placeholder="Location?   Guarded by?  In a chest? etc.">

                    </textarea>
                </label>
            </div>
        </div>
        <!--<div class="row">
            <div class="columns small-12">
                <label>Submitted by:
                    <input type="text" ng-model="agfc.submitter"/>
                </label>
            </div>
        </div> -->
        <div class="row">
            <div class="columns small-12">
                <label>Edit Password:
                    <input type="text" ng-model="agfc.editPass"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-6">
                <input type="button" ng-click="agfc.reset(addFeature)" value="Reset"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="agfc.addFeature()" value="Add Feature"/>
            </div>
        </div>
        <div class="row">
            <div class="column small-6">
                <input type="submit" ng-click="agfc.goBackToEdit()" value="< Edit"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="agfc.goToBosses()" value="Bosses >"/>
            </div>
        </div>
    </form>
    <div class="featureList">
        <div class="row" ng-repeat="gf in agfc.glyphFeatures">
            <div class="columns small-7">{{ gf.name }}</div>
            <div class="columns small-3">Layer {{ gf.layer }}</div>
            <div class="columns small-2 delete" ng-click="agfc.deleteFeature(gf.id)">x</div>
        </div>
    </div>
</div>