<div id="addNewGlyph" ng-controller="AddNewGlyphController as angc">
    <div class="row header">
        <h4>Add New Glyph</h4>
    </div>
    <form name="add" id="add" novalidate>
        <div class="row">
            <div class="columns small-12">
                <label>Select Chalice:
                    <select ng-model="angc.newGlyph.chalice"
                            ng-options="c.name group by c.areaName for c in angc.chalices"></select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Glyph:<br/>
                    <input type="text" ng-model="angc.newGlyph.glyph" placeholder="<type the glyph>" required/>*
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Additional Rites:<br/>
                    <input id="isFetid" ng-model="angc.newGlyph.isFetid" type="checkbox"><label class="cblabel" for="isFetid">Fetid</label>
                    <input id="isRotted" ng-model="angc.newGlyph.isRotted" type="checkbox"><label class="cblabel" for="isRotted">Rotted</label><br/>
                    <input id="isCursed" ng-model="angc.newGlyph.isCursed" type="checkbox"><label class="cblabel" for="isCursed">Cursed</label>
                    <input id="isSinister" ng-model="angc.newGlyph.isSinister" type="checkbox"><label class="cblabel" for="isSinister">Sinister</label>
                </label>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="columns small-12">-->
                <!--<label>Notes: <span class="info"></span>-->
                    <!--<textarea rows="6" ng-model="angc.newGlyph.notes" placeholder="This is a good place to list overall notes, layer bosses, etc.  You will be able to add notes for individual items later."></textarea>-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="columns small-12">
                <label>Submitter (your name/nickname):
                    <input type="text" class="small-12" required placeholder="<type your nickname>" ng-model="angc.newGlyph.submittedBy"/>*
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 infoRow">You can search glyphs by submitter, and edit glyphs you have added.</div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Edit Password:
                    <input type="text" class="small-12" required ng-model="angc.newGlyph.editPass" placeholder="<type a password>"/>*
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 infoRow">Passwords are used to edit existing glyphs. If you know the password,
                you can update/delete a glyph or add items.  If you don't enter one, it will be randomly generated.</div>
        </div>
        <div class="row">
            <div class="columns small-6">
                <input type="button" ng-click="angc.reset(add)" value="Reset"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="angc.doAdd()" value="Add Glyph"/>
            </div>
        </div>
    </form>
</div>