<div id="addNewGlyph" ng-controller="EditGlyphController as egc">
    <div class="row header">
        <h4>Edit Glyph</h4>
    </div>
    <form name="edit" id="edit" novalidate>
        <div class="row">
            <div class="columns small-12">
                <label>Select Chalice:
                    <select ng-model="egc.glyph.chalice"
                            ng-options="c.name group by c.areaName for c in egc.chalices"></select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Glyph:<br/>
                    <input type="text" ng-model="egc.glyph.glyph" placeholder="<type the glyph>" required/>*
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Additional Rites:<br/>
                    <input id="isFetid" ng-model="egc.glyph.isFetid" type="checkbox" ng-checked="egc.glyph.isFetid === 1"><label class="cblabel" for="isFetid">Fetid</label>
                    <input id="isRotted" ng-model="egc.glyph.isRotted" type="checkbox" ng-checked="egc.glyph.isRotted === 1"><label class="cblabel" for="isRotted">Rotted</label><br/>
                    <input id="isCursed" ng-model="egc.glyph.isCursed" type="checkbox" ng-checked="egc.glyph.isCursed === 1"><label class="cblabel" for="isCursed">Cursed</label>
                    <input id="isSinister" ng-model="egc.glyph.isSinister" type="checkbox" ng-checked="egc.glyph.isSinister === 1"><label class="cblabel" for="isSinister">Sinister</label>
                </label>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="columns small-12">-->
                <!--<label>Notes: <span class="info"></span>-->
                    <!--<textarea rows="6" ng-model="egc.glyph.notes" placeholder="This is a good place to list overall notes, layer bosses, etc.  You will be able to add notes for individual items later."></textarea>-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="columns small-12">
                <label>Submitter:
                    <input type="text" class="small-12" required placeholder="<type your nickname>" ng-model="egc.glyph.submitter"/>*
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 infoRow">You can search glyphs by submitter, and edit glyphs you have added.</div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <label>Edit Password:
                    <input type="text" class="small-12" required ng-model="egc.glyph.editPass" placeholder="<enter password>"/>*
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 infoRow">Passwords are used to edit existing glyphs. If you know the password,
                you can update/delete a glyph or add items.</div>
        </div>
        <div class="row">
            <div class="columns small-6">
                <input type="button" ng-click="egc.cancel()" value="Cancel"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="egc.doEdit()" value="Update Glyph"/>
            </div>
        </div>
        <div class="row">
            <div class="column small-6">&nbsp;</div>
            <div class="column small-6">
                <input type="button" ng-click="egc.goToFeatures()" value="Features >"/>
            </div>
        </div>
    </form>
</div>