<div id="chaliceDetail" ng-controller="ChaliceDetailController as cdc">
    <div class="chaliceName">
        <h2>{{ cdc.chalice.chaliceName }}</h2>
        <h3><span class="highlight" ng-click="cdc.showAreaChalices(cdc.chalice.areaId)">{{ cdc.chalice.areaName }}</span> Depth <span class="highlight">{{ cdc.chalice.depth }}</span></h3>
        <h3>Location: <span class="highlight">{{ cdc.chalice.location }}</span></h3>
    </div>
    <div class="materials">
        <div class="row">
            <div class="small-12 column">Materials Needed:</div>
        </div>
        <div class="row" ng-repeat="material in cdc.chalice.materials">
            <div class="column small-6 highlight">{{ material.materialQuantity }}</div>
            <div class="column small-6 highlight">{{ material.materialName }}</div>
        </div>
    </div>
    <div class="glyphLink" ng-show="cdc.chalice.glyphCount > 0">
        <div class="row">
            <div class="column small-12" ng-click="cdc.showGlyphsForChalice(cdc.chalice.chaliceId)">
                Show Glyphs For This Chalice
            </div>
        </div>
    </div>
</div>