<div id="glyphsByFeature" ng-controller="GlyphsByFeatureController as gbfc">
    <div class="searchHeader">
        <h4>Select Up To 4 Features to find Glyphs which contain ALL of them.</h4>
    </div>
    <form name="search" id="search">
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbfc.feat1"
                        ng-options="f.name group by f.group for f in gbfc.featureList">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbfc.feat2" ng-disabled="gbfc.feat1.value === -1"
                        ng-options="f.name group by f.group for f in gbfc.featureList">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbfc.feat3" ng-disabled="(gbfc.feat1.value === -1) || (gbfc.feat2.value === -1)"
                        ng-options="f.name group by f.group for f in gbfc.featureList">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-12">
                <select ng-model="gbfc.feat4" ng-disabled="(gbfc.feat1 === -1) || (gbfc.feat2.value === -1) || (gbfc.feat3.value === -1)"
                        ng-options="f.name group by f.group for f in gbfc.featureList">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="column small-6">
                <input type="button" ng-click="gbfc.reset(search)" value="Reset"/>
            </div>
            <div class="column small-6">
                <input type="submit" ng-click="gbfc.doSearch()" value="Find Glyphs"/>
            </div>
        </div>
    </form>
</div>