<div id="glyphsByChalice" ng-controller="GlyphsByChaliceController as gbcc">
    <div class="searchHeader">
        <h4>Tap a Chalice to see Glyphs for it.</h4>
    </div>
    <div ng-repeat="area in gbcc.areas">
        <div class="row">
            <div class="column small-12 areaName">{{ area.name }}</div>
        </div>
        <div class="row" ng-repeat="chalice in gbcc.chalices | filter: {areaId: area.id}">
            <div class="column small-12" ng-click="gbcc.showChaliceGlyphs( chalice.chaliceId )">
                {{ chalice.chaliceName }} ({{ chalice.glyphCount }})
            </div>
        </div>
    </div>
</div>